.container {
  max-width: 42rem;
  padding: 1rem 1.5em;
  margin: 0rem auto;
  background-color: #f8f6f2;
  box-shadow: 0px 0px 10px #ddd7c7;
}

.container p {
  text-align: justify;
  line-height: 1.65rem;
  margin-bottom: 2.5rem;
}

.container li {
  text-align: justify;
  line-height: 1.65rem;
}

.container section {
  margin-bottom: 3.5rem;
  clear: both;
}

.container hr {
  border: 0 solid white;
  height: 1px;
  width: 66%;
  background-color: #ddd7c7;
  margin-bottom: 3.5rem;
}
