.selfie {
  margin-bottom: 1rem;
  border: 1px solid #62543e;
  padding: 0.4rem;
  box-shadow: 2px 2px 4px #c2b79b;
  background-color: #f8f6f2;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.right {
  float: right;
  margin-left: 2rem;
}

.tiltRight5 {
  transform: rotate(5deg);
}

.left {
  float: left;
  margin-right: 2rem;
}

.tiltLeft2 {
  transform: rotate(-2deg);
}

.tiltRight2 {
  transform: rotate(2deg);
}

.footer {
  font-style: italic;
  font-size: 0.8rem;
}

.chart {
  margin: 2rem 0;
}

.heatmap {
  height: 360px;
}
