.selfie {
  margin-bottom: 1rem;
  border: 1px solid #62543e;
  padding: 0.5rem;
  box-shadow: 2px 2px 4px #c2b79b;
  background-color: #f8f6f2;
}

.right {
  float: right;
  margin-left: 2rem;
}

.tiltRight5 {
  transform: rotate(5deg);
}

.left {
  float: left;
  margin-right: 2rem;
}

.tiltLeft2 {
  transform: rotate(-2deg);
}

.tiltRight2 {
  transform: rotate(2deg);
}

.fixedHeight {
  height: 200px;
  display: table-cell;
  vertical-align: middle;
  text-align: left !important;
  font-style: italic;
}

.chart {
  margin: 2rem 0;
}

.heatmap {
  height: 240px;
}
